* {
  box-sizing: content-box;
}

body {
  font-family: 'Boogaloo', cursive !important;
  overflow-x: hidden;
}

#calendar {
  position: relative;
  left: 5px;
  top: 5px;
}

#greeting-container {
  display: flex;
  justify-content: center;
}

#submit-name {
  width: 500px;
}

#submit-name::placeholder {
  font-size: 1.25rem;
}

#sports,
#headlines {
  height: 800px;
  overflow: auto;
  font-size: 1rem;
  font-family: Tahoma, sans-serif;
}

.weather-giphy-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#weather-city-container,
#temps,
#condition,
#wind,
#sunrise,
#sunset,
#weather-form {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}

.maps-container {
  display: flex;
  justify-content: center;
}

#giphy-container, #weather-city-container {
  width: 275px;
}

#city {
  position: relative;
  top: 15px;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #070707;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #043565;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #03274A;
}

#stocks-container {
  overflow: hidden;
  white-space: nowrap;
  border: 1px groove #fff;
}

#stocks {
  position: relative;
  animation: ticker 10s linear infinite;
}

#stocks:hover {
  animation-play-state: paused;
}

.completed {
  text-decoration: line-through;
}

.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 75%;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #fff;
  font-size: 1.25rem;
}

.list-group-item {
  cursor: pointer;
  font-size: 1.25rem;
}

.list-group-item:hover {
  background-color: #eee;
}

@keyframes ticker {
  0% {
    right: -25em;
  }
  100% {
    right: 45em;
  }
}
