// Fonts
$font-default: 'Poppins', sans-serif;
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Playfair Display', sans-serif;

// Colors
$default: #898989;
$primary: #b8a07e;
$secondary: #4b4a4a;
