body {
  font-family: Tahoma, sans-serif;
  font-size: 1.25rem;
  max-width: 98vw;
}

#name {
  letter-spacing: 3px;
  line-height: 100px;
  font-family: 'Metal Mania', sans-serif;
}

#description {
  padding-top: 5%;
  padding-bottom: 5%;
}

header {
  background-image: url("../images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#header-bg {
  background-color: rgba(233, 233, 233, 0.0)
}

.page-title {
  font-family: 'Metal Mania', sans-serif;
}


#server_room_29prime {
  width: 95%;
}

#jetsuitex-joffrey {
  width: 95%;
}
