body {
  font-family: Tahoma, sans-serif;
  font-size: 1.25rem;
  max-width: 100vw;
  overflow-x: hidden;
}

.nav {
  border: none !important;
}

.navbar-brand {
  font-family: 'Metal Mania', sans-serif;
}

#name {
  letter-spacing: 3px;
  line-height: 100px;
  font-family: 'Metal Mania', sans-serif;
}

#description {
  padding-top: 5%;
  padding-bottom: 5%;
}

header {
  background-image: url("../images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#header-bg {
  background-color: rgba(233, 233, 233, 0.0)
}

.page-title {
  font-family: 'Metal Mania', sans-serif;
}

section > p {
  line-height: 40px;
}

.first-paragraph::first-letter {
  font-size: 2rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content, .caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from { transform: scale(0) }
  to { transform: scale(1) }
}

.close {
  position: absolute;
  top: 55px;
  right: 35px;
  color: #ffffff !important;
  font-size: 80px !important;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover, .close:focus {
  color: crimson !important;
  cursor: pointer;
}

.close:active {
  transform: translateY(5px);
}

@media only screen and (max-width: 992px) and (min-width: 576px) {
  body {
    min-width: 90vh;
  }

  .modal-content {
    width: 100%;
  }

  .close {
    top: 20px;
  }

  section > p {
    clear: both;
  }

  figure {
    width: 600px;
  }
}

@media only screen and (max-width: 576px) and (min-width: 465px) {
  body {
    min-width: 80vh;
  }

  .modal-content {
    width: 100%;
  }

  .close {
    top: 20px;
  }

  section > p {
    clear: both;
  }

  figure {
    width: 400px;
  }
}

@media only screen and (max-width: 465px) {
  body {
    min-width: 60vh;
  }

  .modal-content {
    width: 100%;
  }

  .close {
    top: 20px;
  }

  section > p {
    clear: both;
  }

  figure {
    width: 300px;
  }
}

#spanish_bar {
  cursor: pointer;
  transition: 0.3s;
}

#spanish_bar:hover {
  opacity: 0.7;
}

#greenpoint_brooklyn {
  cursor: pointer;
  transition: 0.3s;
}

#greenpoint_brooklyn:hover {
  opacity: 0.7;
}
