* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Krona One', sans-serif;
}

#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: center;
}

aside {
  align-self: center;
  text-align: center;
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  width: 15%;
}

.game {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  height: 80vh;
  margin-top: 15px;
}

.row {
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: 2px solid #000;
  background-color: #fff;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.player-one {
  width: 100%;
  border-radius: 50%;
  background-color: #92140C;
  background-image: url('../images/connect_4/darth_maul.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.player-two {
  width: 100%;
  border-radius: 50%;
  background-color: #F6F930;
  background-image: url('../images/connect_4/rey.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.col {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 10%;
  height: 100%;
}

.col:hover {
  cursor: pointer;
}

.col:hover > :first-child {
  box-shadow:
    0 0 30px 5px #fff,
    0 0 50px 10px #f0f,
    0 0 70px 15px #0ff;
  background-color: rgba(150, 150, 150, 0.6);
}

.col:active > :first-child {
  background-color: red;
}
/*
.fall-9 {
  animation-name: fall-animation-9;
  animation-duration: 500ms;
}

.fall-8 {
  animation-name: fall-animation-8;
  animation-duration: 500ms;
}

.fall-7 {
  animation-name: fall-animation-7;
  animation-duration: 500ms;
}

.fall-6 {
  animation-name: fall-animation-6;
  animation-duration: 500ms;
}

.fall-5 {
  animation-name: fall-animation-5;
  animation-duration: 500ms;
}

.fall-4 {
  animation-name: fall-animation-4;
  animation-duration: 500ms;
}

.fall-3 {
  animation-name: fall-animation-3;
  animation-duration: 500ms;
}

.fall-2 {
  animation-name: fall-animation-2;
  animation-duration: 500ms;
}

.fall-1 {
  animation-name: fall-animation-1;
  animation-duration: 500ms;
}

.fall-0 {
  animation-name: fall-animation-0;
  animation-duration: 500ms;
}

@keyframes fall-animation-9 {
  from {
    transform: translateY(-900px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fall-animation-8 {
  from {
    transform: translateY(-800px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fall-animation-7 {
  from {
    transform: translateY(-700px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fall-animation-6 {
  from {
    transform: translateY(-600px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fall-animation-5 {
  from {
    transform: translateY(-500px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fall-animation-4 {
  from {
    transform: translateY(-400px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fall-animation-3 {
  from {
    transform: translateY(-300px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fall-animation-2 {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fall-animation-1 {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fall-animation-0 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(0);
  }
}
*/
.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100%;
  border: 2px solid #000;
  background-color: #fff;
  background-image: url('../images/connect_4/win.gif');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  justify-content: center;
  font-size: 2em;
  font-family: 'Krona One', sans-serif;
}

.modal-lose {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url('../images/connect_4/lose.gif');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
  justify-content: center;
  font-size: 2em;
  font-family: 'Krona One', sans-serif;
}

#player-turn, #lose-screen, #finish-game {
  color: #F6F930;
}

button {
  border: 0;
  align-self: center;
  font-size: 1.25rem;
  margin-bottom: 10px;
  border-radius: 5px;
  outline: none;
  font-family: 'Krona One', sans-serif;
  height: 35px;
}

button:hover {
  background-color: #F6F930;
  cursor: pointer;
}

button:active {
  background-color: #D1A511;
  transform: translateY(2px);
}

.start-box {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 3%;
  height: 75vh;
  width: 75%;
  margin: auto;
  background-color: rgba(45, 83, 121, 0);
  border-radius: 15px;
  color: #FFB627;
  text-align: center;
  font-size: 2em;
  justify-content: center;
  font-family: 'Krona One', sans-serif;
}

h1 {
  margin: 0 auto;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltipText {
  visibility: hidden;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 70%;
  border-radius: 5px;
  padding: 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  width: 85%;
  font-size: 1.1rem;
  font-family: 'Krona One', sans-serif;
}

.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 50%;
}

input {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: 'Krona One', sans-serif;
  height: 40px;
  font-size: 1.25rem;
}

input::placeholder {
  font-size: 1.25rem;
}

.timer-alert {
  color: #D81E5B;
  font-size: 1rem;
}

.fadeIn {
  animation-name: fade;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes fade {
  0% {
    opacity: 25%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 25%;
  }
}

.hidden {
  display: none;
}
